h1{
    font-size: 24px;
    color: yellow;
}
.heading3{
    color: blue;
}
.heading{
    font-size:14px;
}
.box{
    border-style: solid;
    border-width: 2px;
    border-color: red;
    padding: 20px;
    width: 400px;
    height: 400px;
    color: white;
}
.margin-10{
    margin: 10px;
}
.bg-blue{
    background-color: blue;
}
.bg-lightblue{
    background-color: lightblue;
}

.card{
    background-color: hsl(0deg,0%,100%);
    border-radius: .25rem;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    color: hsl(0deg,0%,29%);
    max-width: 100%;
    position: relative;
}